<div class="recipeheader">
</div>
<div class="container recipe">
	<div class="jumbotron" style="background-color: #e4e4e4;">
		<div id="look" class="text-center">
			<h1>Check out this list of delicous recipes!</h1><br>
		</div>
	</div>

	<div id="text" class="card-columns">
		<% @recipes.each do |t| %>
	  <div class="card secondary">
			<h5 class="card-title"><b><%= t.name %></b></h5>
	    	<img class="card-img-top recipes" alt="Card image cap" src="<%= t.image_url %>">
	    		<div class="card-body">
	    					<div id="text">
	      						<%= button_to("View Recipe", recipe_path(t), method: :get, :class => "btn") %><br>
								</div>
	    		</div>
	  </div>
				
		<% end %>
		
	</div>

</div>

<div class="container" style="background-color: #e4e4e4;">
	  <div id="text" class="text-center">
		<p> <%= link_to "Add a new Recipe", new_recipe_path, :class => "btn" %> </p>
	</div>
</div>

