<div class="header">
	<img id="homeheader" src="/images/header.jpg">
</div>
<div class="container">
	<div class="text-center">
		<h1>Add New Recipes</h1>
	</div>
	<%= render :partial => "form" %>
</div>

