<div class="searchheader"></div>

<div class="container" style="background-color: #e4e4e4;">
	<div class="jumbotron" style="background-color: #e4e4e4;">
		<div id="look" class="text-center">
			<h1>Look what we found!</h1>
		</div>
	</div>

			<div class="card-deck-wrapper text-center">
				<div id="text" class="card-deck">
					<% @recipes.each do |t| %>
				  <div class="card" style="background-color: #e4e4e4; border: 0;">
				    <img class="card-img-top" style="height: 300px; width: 412px;" alt="Card image cap" src="<%= t.image_url %>">
				    <div class="card-body">
				      <h5 class="card-title"><%= t.name %></h5>
				      <p class="card-text"><%= t.name %></p>
				    	<div class="text-center">
				      	<%= link_to "View Recipe", recipe_path(t), method: :get, class: "btn" %>
				    	</div>
				    </div>
				  </div>
					<% end %>
				</div>
			</div>
</div>

