
<div class="header">
	<img id="homeheader" src="/images/homeheader.png">
</div>

<div class="container">
	<div class="text-center">
		<h1>Featured Recipes</h1>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="card" style="display: inline-block;">
			  	<img class="card-img-top" src="http://4.bp.blogspot.com/-plkksF0qN0A/Td6V5wXmW3I/AAAAAAAAG6s/ctar83hZ7Zk/s640/pulled-pork-thumb.JPG">
				<div class="card-body">
			    	<h4 class="card-title">Root Beer Pulled Pork Sandwiches</h4>
			    	<p class="card-text">There are only 3 ingredients to these super simple pork sandwiches. And if you don’t have a recipe for pulled pork sandwiches, this is the one for you.</p>
			    	<a href="#" class="btn btn-primary">View Recipe</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="card" style="display: inline-block;">
			  	<img class="card-img-top" src="http://www.lifetasteslikefood.com/wp-content/uploads/2012/02/IMG_9417-1024x701.jpg">
			  	<div class="card-body">
			    	<h4 class="card-title">Nutella Crescent Rolls</h4>
			    	<p class="card-text">Here is a way of adding a twist (pun intended) to regular crescent rolls. The magic word here is Nutella.</p>
			    	<a href="#" class="btn btn-primary">View Recipe</a>
			  	</div>
			</div>
		</div>
	</div>
</div>

<div class="container" style="background-color: #E0D6D0; width: 100%;">
	<div class="text-center">
		<h1>Testing</h1>
	</div>
</div>

