
<div id="look" class="homeheader">
	<div class="caption" style="width: 400px; padding-left: 3%;">
		<h1>Welcome to PerfectPantry!</h1><br>
		<h4>Leave all of your cookbooks behind! At PerfectPantry we provide you with ways to store all of your favorite recipes and read about the latest kitchen tips and tricks!</h4>
	</div>
</div>

<div class="container" style="background-color: #f7f7f7; padding-top: 5%; padding-bottom: 5%">

	<div class="jumbotron" style="background-color: #f7f7f7;">
		<div id="look" class="text-center">
			<h1>Featured Recipes</h1>
			<h5>This weeks favorite recipes!</h5>
		</div>
	</div>
	<div id="text" class="card-deck">
			<div class="card main">
			  	<img class="card-img-top" src="http://4.bp.blogspot.com/-plkksF0qN0A/Td6V5wXmW3I/AAAAAAAAG6s/ctar83hZ7Zk/s640/pulled-pork-thumb.JPG">
				<div class="card-body">
			    	<h4 class="card-title">Root Beer Pulled Pork Sandwiches</h4>
			    	<p class="card-text">There are only 3 ingredients to these super simple pork sandwiches. And if you don’t have a recipe for pulled pork sandwiches, this is the one for you.</p>
			    	<a href="/recipes/1" class="btn">View Recipe</a>
				</div>
			</div>
		<div class="card main">
		  	<img class="card-img-top" src="http://www.lifetasteslikefood.com/wp-content/uploads/2012/02/IMG_9417-1024x701.jpg">
		  	<div class="card-body">
		    	<h4 class="card-title">Nutella Crescent Rolls</h4>
		    	<p class="card-text">Here is a way of adding a twist (pun intended) to regular crescent rolls. The magic word here is Nutella.</p>
		    	<a href="/recipes/2" class="btn">View Recipe</a>
		  	</div>
		</div>
		<div class="card main">
		  	<img class="card-img-top" src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2013/11/27/0/FN_Slow-Cooker-Beef-Stew_s4x3.jpg.rend.hgtvcom.616.462.suffix/1386172173354.jpeg">
		  	<div class="card-body">
		    	<h4 class="card-title">Slow Cooker Beef Stew</h4>
		    	<p class="card-text">A hearty, savory slow cooker stew with potatoes, carrots, celery, broth, herbs and spices. You won't be slow to say 'yum'!</p>
		    	<a href="/recipes/5" class="btn">View Recipe</a>
		  	</div>
		</div>
	</div>
</div>


<div id="blog" class="container" style="padding-top: 2%; padding-top: 5%; padding-bottom: 5%;">
	<div class="jumbotron" style="background-color: #e4e4e4;">
		<div id="look" class="text-center" style="padding-bottom: 3%;">
			<h1>Helpful Tips for the Homecook</h1>
			<h5>Check out these interesting articles!</h5>
		</div>
	</div>
		<div id="text" class="card-deck">
		  <div class="card secondary">
		    <img class="card-img-top" src="http://www.simplebites.net/wp-content/uploads/2010/03/KnifeHeader2.jpg" style="height: 200px; width: 312px;">
		    <div class="card-body">
		      <h5 class="card-title">The Three Must-Have Knives</h5>
		      <a href="/knives" id="bluebutton" class="btn">View Article</a>
		    </div>
		  </div>
		  <div class="card secondary">
		    <img class="card-img-top" src="http://food.fnr.sndimg.com/content/dam/images/food/fullset/2014/1/27/0/FN_stock-spices-07_s4x3.jpg.rend.hgtvcom.616.462.suffix/1390839186948.jpeg" style="height: 200px; width: 312px;">
		    <div class="card-body">
		      <h5 class="card-title">How To Use Spices</h5>
		      <a href="/spices" id="bluebutton" class="btn">View Article</a>
		    </div>
		  </div>
		  <div class="card secondary">
		    <img class="card-img-top" src="http://food.fnr.sndimg.com/content/dam/images/food/fullset/2011/5/27/1/0155726_STEAKS-20_s4x3.jpg.rend.hgtvcom.581.436.suffix/1371597512588.jpeg" style="height: 200px; width: 312px;">
		    <div class="card-body">
		      <h5 class="card-title">How to Grill Steak: A Step-by-Step Guide</h5>
		      <a href="/steak" id="bluebutton" class="btn">View Article</a>
		    </div>
		  </div>
		</div>
</div>


