<div class="knifeheader">
</div>

<div id="article" class="container" style="padding-top: 5%; padding-bottom: 5%;">
	<div class="jumbotron" style="background-color: #e4e4e4;">
		<div id="look" class="text-center">
			<h1><b>The Three Must-Have Knives</b></h1>
				<h5>Three Essential Knives for a Basic Kitchen</h5><br>
		</div>
	</div>

	<div id="text">

		<p>There are only three knives that are crucial in a kitchen: a chef's knife, a paring knife and a serrated knife. Any other knives are a luxury--they can make cooking easier and more enjoyable, but are unnecessary.</p><br>

		<p>A <b>chef's knife</b> (sometimes called a <b>cook's knife</b>) is the most important knife to have in your kitchen. It has a wide blade between six and ten inches long and is used primarily for chopping, though it can be used for anything you want to do. The blade of a classic, French-style chef's knife curves upward toward the tip. A Japanese-style <b>Santoku knife</b> can be used in place of a French-style chef's knife; it's usually shorter and has a "sheep's foot" tip, meaning the top of the tip curves downward. European manufacturers of Santoku knives add a Granton or kullenschiff edge, a row of hollow-ground pockets that prevent food from sticking to the knife's surface.</p><br>

		<p>A <b>paring knife</b> looks like a miniature chef's knife, with a blade ranging from two to four inches long. It's good for delicate tasks where a larger blade would get in the way. Paring knives are ideal for peeling onions, coring tomatoes or trimming vegetables.</p><br>

		<p>A <b>serrated knife</b> is used for bread, tomatoes and even meat. Serrated knives are most useful on foods that have one texture on the outside and another inside, like a hard-crusted bread or a tomato. Choose a longer serrated knife to minimize the amount of sawing necessary. An <b>offset serrated knife</b>, sometimes called a <b>deli knife</b>, minimizes the chance of hitting your knuckles on the cutting board once you're done cutting.</p><br>

	<div id="look" class="text-center">
		<h4><b>The Extras:</b></h4><br>
	</div>

		<p>A <b>slicing knife</b> is for cutting cooked meat, poultry and fish. It should be long enough (eight to 10 inches) to span a large roast, narrow for reduced drag and flexible enough to easily separate flesh from bone.</p><br>

		<p>In skilled hands, a <b>cleaver</b> can do everything a chef's knife can do--slice, chop, fillet, scoop, smash--and more. Its heavy, rectangular blade is designed to hack through the sorts of bones other knives have a hard time with.</p><br>

		<p>A <b>boning knife</b> is for the delicate task of separating raw meat, poultry and fish from bone. Its blade, six or so inches long, is thinner than a slicing knife's and flexible enough to follow the contours of a fish or bird.</p>
	</div>

	<div class="text-center">
		<img id="cinema" src="/images/knife.gif">
	</div>

	<div class="btn-container">
		<%= link_to "Go Back", root_path, class: "btn" %>
	</div>

</div>