<div class="spiceheader">
</div>

<div id="article" class="container">
	<div class="jumbotron" style="background-color: #e4e4e4;">
		<div class="text-center" id="look">
			<h1>How to Use Spices</h1>
				<h5>A guide to selecting, storing and using spices</h5>
			</div>
	</div>

	<div id="text">
		<p>In contrast to herbs, spices are nearly always dried and are mostly ground before using. Pre-ground spices lose their potency quickly, so they should be stored in airtight containers in a cool, dark place and be replaced around every six months. Whole spices retain their flavor longer (for up to five years) and can be used as is or quickly ground with a mortar and pestle or an inexpensive coffee grinder (reserve one for spices to avoid coffee flavor).</p><br>

		<p>To get the best flavor from your spices, "toast" them in a dry skillet over low heat, stirring frequently, until they start to release their aromas. Even ground spices can perk up a bit after a quick toast in a skillet, but ones that are too old and faded are generally beyond repair.</p><br>

		<p>Just as it makes sense to "season" foods with salt and pepper at different stages of cooking, it may make sense to add spice at different times to take advantage of the unique qualities. A little experimentation and you'll quickly learn how to get the results you desire.</p><br>
	</div>

	<div class="text-center">
		<img id="cinema" src="/images/test.jpeg">
	</div>
</div>