<div class="steakheader">
</div>

<div id="article" class="container">
	<div class="jumbotron" style="background-color: #e4e4e4;">
		<div id="look" class="text-center">
			<h1>How to Grill Steak: A Step-by-Step Guide</h1>
				<h5>These grilling tips will help you get delicious steaks every time.</h5><br>
		</div>
	</div>
		<div id="look" class="text-center">
			<h4>Mastering the grill is all about understanding live fire and the strategies needed to take advantage of the fire.</h4><br>
		</div>
		<div id="text" class="text-center">
			<h5>Step 1: Choosing the Meat</h5>
			<p>For grilling, pick a steak that's at least 1 1/2 inches thick with marbling in the meat. Marbling means the fat is dispersed throughout the steak and the flavor will be, too. The fat adds flavor and makes it tender and juicy. Pictured here is a New York strip steak, but this grilling know-how can be used anytime you grill boneless steaks of the same thickness.</p><br>

			<h5>Step 2: Trim the Meat</h5>
			<p>Cut off excess fat, but leave some for flavor.</p><br>

			<h5>Step 3: Temperature Matters</h5>
			<p>Bring the meat to room temperature and preheat the grill. Steaks should sit outside of the fridge for at least 20 minutes until room temperature.</p><br>

			<h5>Step 4: Get the Grill Ready</h5>
			<p>Set up the grill for direct and indirect heat at least 30 minutes before you cook. Get to know the hot and cool spots by carefully placing your hand 6 inches above the grill.</p><br>

			<h5>Step 5: Oil the Grill</h5>
			<p>Use tongs and a folded paper towel dipped in oil. Let the oil heat until it's smoking on the grate, and then it's time to cook.</p><br>

			<h5>Step 6: Get Grilling</h5>
			<p>Pat the meat dry, season with salt and pepper on each side and then place the steaks on the hot part of the grill. Let them sear until they release without sticking. When the steak lifts easily from the grill, reposition it about 90 degrees to get professional-looking grill marks.</p>

			<h5>Step 7: Turn and Repeat</h5>
			<p>Flip the steaks, let them cook and then give them another quarter turn.</p><br>

			<h5>Step 8: Check the Temperature</h5>
			<p>Insert the thermometer lengthwise for the best reading. A temperature of 130 to 145 degrees F is the range between medium-rare and medium. For a well-done steak, move it to the cooler part of the grill and let it cook longer. Remember, the steak will continue to cook after you remove it from the grill.</p><br>

			<h5>Step 9: Let It Rest</h5>
			<p>Let the steaks rest for 5 to 10 minutes so the juices can settle. Then slice and serve. Watch our how-to video for more.</p><br>
		</div>

	<div class="text-center">
		<img id="cinema" src="/images/steak.gif">
	</div>

	<div class="btn-container">
		<%= link_to "Go Back", root_path, class: "btn" %>
	</div>

</div>